<!-- home.html -->
{% extends 'base.html' %}
{% load static %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}
<!-- ROW 1 -->
<div class="row">
    <!-- LEFT PANEL -->
    <div class="col-md-9">
        
        <!-- Recent article and/or special issue -->
        <div class="row">

            <!-- Latest article display -->
            {% if latest_article %}
            <div class="col-md pb-2">
                <div class="card border-5 border-start-1 border-top-0 border-end-0 border-bottom-0 border-secondary rounded-0 " style="height: 100%;">
                    <div class="card-body text-secondary bg-llt-darkgray">
                        <span class="badge bg-llt-gold rounded-0">Latest Article</span>
                        <dt class="card-title">{{ latest_article.0 }}</dt>
                        <dd class="card-text" style="font-size: 0.8rem">
                            {% for j in latest_article.1 %} 
                                {{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}
                            {% endfor %}
                        </dd>
                          
                    </div>
                    <div class="card-footer text-secondary bg-llt-darkgray border-0" style="font-size: 0.8rem">{{ latest_article.4 }}</div>
                    <a href="{{ latest_article.0.get_absolute_url }}" class="stretched-link"></a>               
                </div>                         
            </div>
            {% else %}
            <div class="col-md pb-2">
                <div class="card border-5 border-start-1 border-top-0 border-end-0 border-bottom-0 border-secondary rounded-0" style="height: 100%;">
                    <div class="card-body text-secondary bg-llt-darkgray">
                        <span class="badge bg-secondary rounded-0">News</span>
                        <dt class="card-title" >{{ featured_posts.1.title }}</dt>
                        <dd class="card-text" style="font-size: 0.8rem">{{ featured_posts.1.content|safe|truncatewords:24 }}</dd>     
                    </div>
                    <div class="card-footer border-0 text-secondary bg-llt-darkgray" style="font-size: 0.6rem">{{ featured_posts.1.modified | date:"M j Y"}}</div>
                    <a href="{% url 'post_view' featured_posts.1.pk %}" class="stretched-link"></a>                                   
                </div> 
            </div>           
            {% endif %}

            <!-- Special Issue display -->
            {% if special_issue %}
            <div class="col-md pb-2 ">
                <!-- Special Issue Book cover -->
                <div class="card border-5 border-start-1 border-top-0 border-end-0 border-bottom-0 border-secondary rounded-0 bk-cover-bg-{{special_issue.color_code}} text-white lh-sm" style="height: 100%;">
                    <div class="card-body text-break">
                        <span class="badge bg-llt-gold rounded-0">Latest Special Issue</span>
                        <p style="font-size: 1.0rem; height: 40%"><strong>{{special_issue.subtitle|slice:"14:"}}</strong></p><br>
                        <p style="font-size: 0.4rem;">
                            {% if special_issue.editors %}
                                Edited by <br>
                                {% for e in special_issue.editors %}
                                    {{e}}<br>
                                {% endfor %} 
                            {% endif %}     
                        </p>
                    </div>        
                    <div class="card-footer border-0 bk-cover-bg-{{special_issue.color_code}} text-white" style="font-size: 0.3rem;">{{special_issue.title}}<br>{{special_issue.date}}</div>
                    <a href="{% url 'collection' special_issue.object.pk %}" class="stretched-link"></a>
                </div>
            </div>
            {% endif %}

        </div>
            

        <!-- Current Issue -->
        <h3><a href="{% url 'collection' current_vol.object.identifier %}" class="static_a_display text-secondary">{{ current_vol.title }} {{ current_vol.date }}</a> {% if user.is_staff %}<small><a class="btn btn-xs btn-default" href="{% url 'oai_collection' current_vol.object.pk %}">Update</a></small>{% endif %}</h3>
        <h4><strong>{{ current_vol.subtitle }}</strong></h4>

        <div>
            <a href="#articles" class="btn btn-sm bg-llt-darkgray text-secondary rounded-0">Articles <span class="badge bg-secondary  rounded-0">8</span></a> 
            <a href="#columns" class="btn btn-sm bg-llt-darkgray text-secondary rounded-0">Columns <span class="badge bg-secondary  rounded-0">2</span></a> 
            <a href="#reviews" class="btn btn-sm bg-llt-darkgray text-secondary rounded-0">Reviews <span class="badge bg-secondary  rounded-0">3</span></a>
        </div>

        {% if current_vol_toc.Preface %}<h4 class="border-space">&nbsp;</h4>{% endif %}

        {% for sub_type, data in current_vol_toc.Preface.items %} 
            {% for doc in data.records %}
                <div class="row">
                    <div class="col-11"> 
                        <a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
                            <strong>{{ doc.0 }}</strong>
                            <p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
                        </a>
                    </div>
                    <div class="col-2"></div>
                </div>
            {% endfor %}
        {% endfor %}

        {% if current_vol_toc.Article %}<h4 id="articles" class="border-space">Articles</h4>{% endif %}
        {% for sub_type, data in current_vol_toc.Article.items %} 
            <strong>{{ sub_type }}</strong>
            <p class="small">{% if data.editors %}Edited by{% endif %} {% for j in data.editors%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
            {% for doc in data.records %}
                <div class="row">
                    <div class="{% if sub_type %}col-9 offset-1 {% else %}col-10{% endif %}"> 
                        <a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
                            <div class="fs-6">
                                <span class="badge rounded-0 bg-llt-gold"></span>
                                <strong>{{ doc.0 }}</strong>
                            </div>
                            <p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
                        </a>
                    </div>
                    <div class="col-2"><em>{{ doc.4 }} </em></div>
                </div>
            {% endfor %}
        {% endfor %}
    
        {% if current_vol_toc.Column %}<h4 id="columns" class="border-space">Columns</h4>{% endif %}
        {% for sub_type, data in current_vol_toc.Column.items %} 
            <strong>{{ sub_type }}</strong>
            <p class="small">{% if data.editors %}Edited by{% endif %} {% for j in data.editors%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
            {% for doc in data.records %}
                <div class="row">
                    <div class="{% if sub_type %}col-9 offset-1 {% else %}col-10{% endif %}"> 
                        <a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
                            <strong>{{ doc.0 }}</strong>
                            <p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
                        </a>
                    </div>
                    <div class="col-2"><em> {{ doc.4 }}</em></div>
                </div>
            {% endfor %}
        {% endfor %}
    
        {% if current_vol_toc.Review %}<h4 id="reviews" class="border-space">Reviews</h4>{% endif %}
        {% for sub_type, data in current_vol_toc.Review.items %}
            <strong>{{ sub_type }}</strong>
            <p class="small">{% if data.editors %}Edited by{% endif %} {% for j in data.editors%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
            {% for doc in data.records %}
                <div class="row">
                    <div class="{% if sub_type %}col-9 offset-1 {% else %}col-10{% endif %}"> 
                        <a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
                            <strong>{{ doc.0 }}</strong>
                            <p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
                        </a>
                    </div>
                    <div class="col-2"><em> {{ doc.4 }}</em></div>
                </div>
            {% endfor %}
        {% endfor %}            
    </div>

    <!-- RIGHT PANEL -->
    <div class="col-md-3">
        <div class="card p-1 mb-2 border-0 rounded-0 text-secondary bg-llt-darkgray" >
            <div class="card-body">
                <dt class="card-title">{{ byline.title }}</dt>
                <dd class="card-text" style="font-size: .8em">{{ byline.content|safe }}</dd>
                <a href="{% url 'page_slug_view' 'about' %}" class="stretched-link"></a>
            </div>
        </div>
        {% for i in featured_posts %}
            <div class="card border-0 rounded-0 pb-2">
                <div class="card-body text-secondary bg-llt-darkgray">
                    <span class="badge bg-secondary rounded-0">News</span>
                    <dt class="card-title" >{{ i.title }}</dt>
                    <dd class="card-text" style="font-size: 0.8rem">{{ i.content|safe|truncatewords:12 }}</dd>     
                </div>
                <div class="card-footer border-0 text-secondary bg-llt-darkgray" style="font-size: 0.6rem">{{ i.modified | date:"M j Y"}}</div>
                <a href="{% url 'post_view' i.pk %}" class="stretched-link"></a>                               
            </div>
        {% endfor %}
        {% include 'base-side-menu.html' %}
    </div>
</div> <!-- End ROW 1 -->

<!-- ROW 2 -->
<div class="row"></div>

<!-- ROW 3 -->
<div class="row" class="prev_issues">
    <div class="col-12">
        <h3 class="border-space">Previous Issues <a href="{% url 'previous_issues' %}" class="btn btn-small btn-link static_a_display">view all</a></h3>        
    </div>          

    {% for num, volume in volumes.items %}
        <div class="col-md-3">
            <a class="btn btn-default" data-bs-toggle="collapse" href="#id-{{num}}-collapse" role="button" aria-expanded="false" aria-controls="id-{{num}}-collapse">
                <i class="fa fa-caret-right"></i> {{ volume.0.name|slice:":9"}}</a>
            <div>
            <ul id="id-{{num}}-collapse" class="list-unstyled collapse">
            {% for j in volume %}
                <li><p><a href="{% url 'collection' j.identifier %}" class="static_a_display">{{ j.name }}</a></p></li>
            {% endfor %}
            </ul>
            </div>
        </div>
    {% endfor %}                    
</div>

{% endblock content %}