<!-- home.html -->
{% extends 'base.html' %}
{% load static %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}
<!-- ROW 1 -->
<div class="row">
    <!-- LEFT PANEL -->
    <div class="col-md-9">
        
        <!-- Recent article and/or special issue -->
        <div class="row mb-3">

            <!-- Latest article display -->
            {% if latest_article %}
            <div class="col-md pb-2">
                <div class="card border-0 border-start-0 border-top-0 border-end-0 border-bottom-0 rounded-0 " style="border-color: #E9CC81;height: 100%;">
                    <div class="card-body bg-llt-gold llt-burgundy">
                        <span class="badge bg-llt-burgundy llt-light-gold rounded-0">Latest Article</span>
                        <div class="card-title fw-bolder">{{ latest_article.0 }}</div>
                        <div class="card-text oai-micro-fs-8">
                            {% for j in latest_article.1 %} 
                                {{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}
                            {% endfor %}
                        </div>                          
                    </div>
                    <div class="card-footer bg-llt-darkgray bg-llt-gold llt-burgundy border-0 oai-micro-fs-6">{{ latest_article.4 }}</div>
                    <a href="{{ latest_article.0.get_absolute_url }}" class="stretched-link"></a>               
                </div>                         
            </div>
            {% else %}
            <!-- Display a Featured Post -->
            <div class="col-md pb-2">
                <div class="card border-5 border-start-1 border-top-0 border-end-0 border-bottom-0 border-secondary rounded-0" style="height: 100%;">
                    <div class="card-body text-secondary bg-llt-darkgray">
                        <span class="badge bg-secondary rounded-0">News</span>
                        <div class="card-title" >{{ featured_posts.1.title }}</div>
                        <div class="card-text oai-micro-fs-8">{{ featured_posts.1.content|safe|truncatewords:20 }}</div>     
                    </div>
                    <div class="card-footer border-0 text-secondary bg-llt-darkgray oai-micro-fs-6">{{ featured_posts.1.modified | date:"M j Y"}}</div>
                    <a href="{% url 'post_view' featured_posts.1.pk %}" class="stretched-link"></a>
                </div> 
            </div>           
            {% endif %}

            <!-- Special Issue display -->
            {% if special_issue %}
            <div class="col-md pb-2 ">
                <!-- Special Issue Book cover -->
                <div class="card border-0 rounded-0 bk-cover-bg-{{special_issue.color_code}} lh-sm" style="height: 100%;">
                    <div class="card-body">
                        <span class="badge bg-llt-gold rounded-0 mb-1">Latest Special Issue</span><br>
                        <div class="oai-micro-fs-6 pb-2">{{special_issue.title}}<br>{{special_issue.date}}</div>
                        <div style="height: 36%" class="card-title"><strong>{{special_issue.subtitle|slice:"14:"}}</strong></div>

                    </div>        
                    <div class="card-footer border-0 bk-cover-bg-{{special_issue.color_code}} oai-micro-fs-6">
                            {% if special_issue.editors %}
                                Edited by <br>{% for e in special_issue.editors %}{{e}}<br>{% endfor %} 
                            {% endif %}     
                    </div>
                    <a href="{% url 'collection' special_issue.object.pk %}" class="stretched-link"></a>
                </div>
            </div>
            {% endif %}

        </div>
            

        <!-- Current Issue -->
        <h3><a href="{% url 'collection' current_vol.object.identifier %}" class="text-black static_a_display">{{ current_vol.title }} {{ current_vol.date }}</a> {% if user.is_staff %}<small><a class="btn btn-xs btn-default" href="{% url 'oai_collection' current_vol.object.pk %}">Update</a></small>{% endif %}</h3>
        <h4><strong>{{ current_vol.subtitle }}</strong></h4>

        <div class="pb-4" aria-label="Navigate to current issue sections">
            
                <a href="{% url 'post_list_view' %}" class="btn btn-sm bg-llt-gold m-2 rounded-0 fw-bold"><span class=""><i class="fas fa-info-circle"></i></span> Announcements</a>
                <a href="#articles" class="btn btn-sm bg-llt-darkgray text-secondary m-2 rounded-0">Articles <span class="badge bg-secondary rounded-0">{{article_count}}</span></a>
                <a href="#reviews" class="btn btn-sm bg-llt-darkgray text-secondary m-2 rounded-0">Review Articles <span class="badge bg-secondary rounded-0">{{review_article_count}}</span></a>
                <a href="#columns" class="btn btn-sm bg-llt-darkgray text-secondary m-2 rounded-0">Columns <span class="badge bg-secondary rounded-0">{{column_count}}</span></a> 
                <a href="#reviews" class="btn btn-sm bg-llt-darkgray text-secondary m-2 rounded-0">Media Reviews <span class="badge bg-secondary rounded-0">{{review_count}}</span></a>
                
            
        </div>


       <!--  {% for sub_type, data in current_vol_toc.Preface.items %} 
            {% for doc in data.records %}
                <div class="row">
                    <div class="col-11"> 
                        <a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
                            <strong>{{ doc.0 }}</strong>
                            <p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
                        </a>
                    </div>
                    <div class="col-1"></div>
                </div>
            {% endfor %}
        {% endfor %} -->

        {% if current_vol_toc.Article %}<h4 id="articles" class="border-space pt-4">Articles</h4>{% endif %}
        {% for sub_type, data in current_vol_toc.Article.items %} 
            <strong>{{ sub_type }}</strong>
            <p class="small">{% if data.editors %}Edited by{% endif %} {% for j in data.editors%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
            {% for doc in data.records %}
                <div class="row">
                    <div class="{% if sub_type %}col-9 offset-1 {% else %}col-10{% endif %}"> 
                        {% if forloop.first %}<span class="badge bg-llt-gold oai-micro-fs-6 rounded-0">Latest Article </span> {% endif %}
                        <a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
                            <strong>{{ doc.0 }}</strong>
                            <p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
                        </a>
                    </div>
                    <div class="col-2 oai-micro-fs-8">{{ doc.4 }}</div>
                </div>
            {% endfor %}
        {% endfor %}
    
        {% if current_vol_toc.Column %}<h4 id="columns" class="border-space pt-4">Columns</h4>{% endif %}
        {% for sub_type, data in current_vol_toc.Column.items %} 
            <strong>{{ sub_type }}</strong>
            <p class="small">{% if data.editors %}Edited by{% endif %} {% for j in data.editors%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
            {% for doc in data.records %}
                <div class="row">
                    <div class="{% if sub_type %}col-9 offset-1 {% else %}col-10{% endif %}"> 
                        {% if doc.0.pk == latest_column.pk %}<span class="badge bg-llt-gold oai-micro-fs-6 rounded-0">Latest Column </span> {% endif %}<a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
                            <strong>
                                
                                {{ doc.0 }}
                            </strong>
                            <p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
                        </a>
                    </div>
                    <div class="col-2 oai-micro-fs-8">{{ doc.4 }}</div>
                </div>
            {% endfor %}
        {% endfor %}
    
        {% if current_vol_toc.Review %}<h4 id="reviews" class="border-space pt-4">Media Reviews</h4>{% endif %}
        {% for sub_type, data in current_vol_toc.Review.items %}
            <strong>{{ sub_type }}</strong>
            <p class="small">{% if data.editors %}Edited by{% endif %} {% for j in data.editors%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
            {% for doc in data.records %}
                <div class="row">
                    <div class="{% if sub_type %}col-9 offset-1 {% else %}col-10{% endif %}"> 
                        {% if forloop.first %}<span class="badge bg-llt-gold oai-micro-fs-6 rounded-0">Latest Review </span> {% endif %}
                        <a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
                            <strong>
                                {{ doc.0 }}
                            </strong>
                            <p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
                        </a>
                    </div>
                    <div class="col-2 oai-micro-fs-8">{{ doc.4 }}</div>
                </div>
            {% endfor %}
        {% endfor %}            
    </div>

    <!-- RIGHT PANEL -->
    <div class="col-md-3">
        {% for i in featured_posts %}
            <div class="card border-0 rounded-0 pb-2">
                <div class="card-body text-secondary bg-llt-darkgray">
                    <span class="badge bg-secondary rounded-0">News</span> <span class="oai-micro-fs-6">{{ i.created | date:"M j Y"}}</span>                   
                    <dt class="card-title"> {{ i.title }}</dt>
                    <dd class="card-text oai-micro-fs-8">{{ i.content|safe|truncatewords:10 }}</dd>     
                </div>
                <a href="{% url 'post_view' i.pk %}" class="stretched-link"></a>                               
            </div>
        {% endfor %}



        {% include 'base-side-menu.html' %}


    </div>
</div> <!-- End ROW 1 -->

<!-- ROW 2 -->
<div class="row"></div>

<!-- ROW 3 -->
<div class="row" class="prev_issues">
    <div class="col-12">
        <h3 class="border-space pt-4">Previous Issues <a href="{% url 'previous_issues' %}" class="btn btn-small btn-link static_a_display">view all</a></h3>        
    </div>
    {% for num, volume in volumes.items %}
        <div class="col-md-3">
                <a class="btn btn-default ps-0 vol-list-toggler" data-bs-toggle="collapse" href="#id-{{num}}-collapse" role="button" aria-expanded="false" aria-controls="id-{{num}}-collapse"><i class="fas fa-caret-right"></i> {{ volume.0.name|slice:":9"}}</a>
                <ul id="id-{{num}}-collapse" class="list-unstyled collapse ps-3 oai-micro-fs-6 vol-list">
                {% for j in volume %}
                    <li><p class=""><a href="{% url 'collection' j.identifier %}" class="static_a_display">{{ j.name }}</a></p></li>
                {% endfor %}
                </ul>
        </div>
    {% endfor %}       
</div>

{% endblock content %}

{% block js_script %} 
<script type="text/javascript">
    // script to control visibility of vol groups when toggled.
    
    const togglebtns = document.querySelectorAll('.vol-list-toggler')
    togglebtns.forEach(function(toggler) {
        toggler.addEventListener('click', function(e) {
            if (document.querySelector('.fa-caret-down')) {
                document.querySelector('.fa-caret-down').classList.replace("fa-caret-down", "fa-caret-right");
            }

            var curr_toggle_icon = this.querySelector('i');
            if (!this.classList.contains('collapsed')) {
                curr_toggle_icon.classList.replace("fa-caret-right", "fa-caret-down");
            }

            const vol_listings = document.querySelectorAll('.show');
            vol_listings.forEach(function(listing) {
                listing.classList.toggle('show');                
            });
        });
    });

</script>
{% endblock js_script %}
