<!-- issue_view.html -->
{% extends 'base.html' %}
{% load static %}

{% block page_title %}{{ issue.title }} {{issue.subtitle}}{% endblock page_title %}


{% block page_header %}
<h4 class="mb-4">
	<a href="{% url 'previous_issues' %}" class="btn btn-lg bg-llt-darkgray rounded-0 ps-1 static_a_display"><i class="fa fa-caret-left"></i> Previous Issues</a>
	{% if issue.subtitle %}<a href="{% url 'special_issues' %}" class="btn btn-sm btn-link rounded-0 static_a_display"> Special Issue Archive</a>{% endif %}
</h4>

{% if issue.subtitle %}
	<div class="row pb-4">
		<div class="col-md-3">{% include 'base-book-cover.html' %}</div>		
		<div class="col-md-9">
			{% if user.is_staff %}<p><small><a class="btn btn-sm btn-link ps-1 text-start rounded-0 static_a_display" href="{% url 'oai_collection' issue.object.pk %}">Update</a></small></p>{% endif %}
			<div class="row">
				{% for sub_type, data in toc.Preface.items %} 
					{% for doc in data.records %}					
						<div class="col-11"> 
							<a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
								<strong>{{ doc.0 }}</strong>
								<p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
							</a>
						</div>
											
					{% endfor %}
				{% endfor %}
			{% if issue.object.description %}
				<div class="col-11">
					<h4 class="border-space pt-4 oai-micro-fs-8">About this Issue</h4>
					<p class="oai-micro-fs-8">{{ issue.object.description|safe }}</p>
				</div>
			{% endif %}
			</div>
			</div>		
	</div>
{% else %}
	<h2>{{ issue.title }} {{ issue.date }} {% if user.is_staff %}<small><a class="btn btn-sm btn-default" href="{% url 'oai_collection' object.pk %}">Update</a></small>{% endif %}</h2>
	<h3><strong>{{ issue.subtitle }}</strong></h3>
{% endif %}


{% endblock page_header %}

{% block content %}	

	<div class="row">
		<div class="col-md-6">
			{% if not issue.subtitle %}
				{% if toc.Preface %}<h4 class="border-space pt-4">&nbsp;</h4>{% endif %}

				{% for sub_type, data in toc.Preface.items %} 
					
					{% for doc in data.records %}
						<div class="row">
							<div class="col-10"> 
								<a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
									<strong>{{ doc.0 }}</strong>
									<p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
								</a>
							</div>
							<div class="col-2"></div>
						</div>
					{% endfor %}
				{% endfor %}
			{% endif %}

			{% if toc.Article %}<h4 class="border-space pt-4">Articles</h4>{% endif %}
			{% for sub_type, data in toc.Article.items %} 
				{% if sub_type %}<h4 id="syntheses" class="border-space pt-4">Research Syntheses</h4>{% endif %}
            	<p class="small">{% if data.editors %}Edited by{% endif %} {% for j in data.editors%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
				{% for doc in data.records %}
					<div class="row">
						<div class="{% if sub_type %}col-9 offset-1 {% else %}col-md-10{% endif %}"> 
							<a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
								<strong>{{ doc.0 }}</strong>
								<p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
								<p class="small">{{ doc.2.0|truncatewords:20|truncatewords:20 }} </p>
							</a>
						</div>
						<div class="col-2"><em>{{ doc.4 }}</em></div>
					</div>
				{% endfor %}
			{% endfor %}
		</div>
		<div class="col-md-6">
			{% if toc.Column %}<h4 class="border-space pt-4">Columns</h4>{% endif %}
			{% for sub_type, data in toc.Column.items %} 
				<strong>{{ sub_type }}</strong>
				<p class="small">{% if data.editors %}Edited by{% endif %} {% for j in data.editors%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
				{% for doc in data.records %}
					<div class="row">
						<div class="{% if sub_type %}col-9 offset-1 {% else %}col-md-10{% endif %}"> 
							<a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
								<strong>{{ doc.0 }}</strong>
								<p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
								<p class="small">{{ doc.2.0|truncatewords:20 }} </p>
							</a>
						</div>
						<div class="col-2"><em>{{ doc.4 }}</em></div>
					</div>
				{% endfor %}
			{% endfor %}


		
			{% if toc.Review %}<h4 class="border-space pt-4">Media Reviews</h4>{% endif %}
			{% for sub_type, data in toc.Review.items %}
				<strong>{{ sub_type }}</strong>
				<p class="small">{% if data.editors %}Edited by{% endif %} {% for j in data.editors%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
				{% for doc in data.records %}
					<div class="row">
						<div class="{% if sub_type %}col-9 offset-1 {% else %}col-md-10{% endif %}"> 
							<a href="{{ doc.0.get_absolute_url }}" class="static_a_display">
								<strong>{{ doc.0 }}</strong>
								<p class="small">{% for j in doc.1%} <em>{{ j }}{% if not forloop.last %}{% if forloop.revcounter0 > 1 %}, {% else  %} & {% endif %}{% endif %}</em> {% endfor %}</p>
								<p class="small">{{ doc.2.0|truncatewords:20 }} </p>
							</a>
						</div>
						<div class="col-2"><em>{{ doc.4 }}</em></div>
					</div>
				{% endfor %}
			{% endfor %}
		</div>

	</div>

{% endblock content %}
