<!-- post_list_view.html -->
{% extends 'base.html' %}

{% block page_header %}
	<h2>News & Announcements</h2>
{% endblock page_header %}

{% block content %}
<div class="row">
	<div class="col-md-9">
		<div class="row">
			{% for i in object_list %}
			<div class="col-md-3 mb-3">
				<div class="card shadow-sm p-2 position-relative border-5 border-start-0 border-top-0 border-end-0 border-bottom-1 border-secondary rounded-0" style="height: 100%;">
					<div class="card-title"><h6>{% if i.featured %}<span class="badge bg-llt-gold rounded-0 oai-micro-fs-4">featured</span>{% endif %}</h6>{{ i.title }}</div>
					<div class="card-body oai-micro-fs-8">{{ i.content|safe|truncatewords:24 }}</div>
					<div class="card-footer text-end bg-white border-0 oai-micro-fs-6">{{ i.modified|date:"M j Y" }}</div>
					<a href="{% url 'post_view' i.pk %}" class="btn btn-link btn-sm stretched-link"></a>
				</div>
			</div>	
			{% endfor %}
		</div>
	</div>

	<div class="col-md-3">{% include 'base-side-menu.html' %}</div>
</div>		
{% endblock content %}
