<!-- post_list_view.html -->
{% extends 'base.html' %}

{% block page_title %}News & Announcements{% endblock page_title %} 

{% block page_header %}
	<h2>News & Announcements
		{% if user.is_staff %}
			<a href="{% url 'post_create_view' %}" class="btn btn-link btn-default btn-lg text-secondary" title="Add new post"><i class="fas fa-plus"></i></a>
		{% endif %}
	</h2>
{% endblock page_header %}

{% block content %}
<div class="row">
	<div class="col-md-9">

		<div class="row">
			{% for i in feature_list %}
			<div class="col-md-4 mb-4">
				<div class="card  p-2 position-relative border-0 bg-llt-darkgray rounded-0" style="height: 100%;">					
					<div class="card-body p-0">
						<div class="card-title oai-micro-fs-8">
							{% if i.featured %}<span class="badge bg-llt-gold rounded-0 oai-micro-fs-6">featured</span>{% endif %}
							<span class="oai-micro-fs-6 p-0 fw-bold">{{ i.created|date:"M j Y" }}</span> <span class="oai-micro-fs-6  fw-light"> (modified {{ i.modified|date:"M j" }})</span>
							<h6 class="fw-bold">{{ i.title }} </h6>
						</div>
						<div class="oai-micro-fs-8">{{ i.content|safe|truncatewords:24 }}</div>
						<a href="{% url 'post_view' i.pk %}" class="btn btn-link btn-sm stretched-link"></a>
					</div>					
				</div>

			</div>	
			{% endfor %}
		</div>
		<div class="row ">
			{% for i in object_list %}
			<div class="col-md-10 mb-2 mt-2">
				<div class="card p-2 position-relative border-0 {% cycle '' 'bg-lt-gray' %} rounded-0" style="height: 100%;">					
					<div class="card-body p-0">
						<div class="card-title oai-micro-fs-8">							
							<h6 class="fw-bold">{{ i.title }} <span class="oai-micro-fs-6 p-0">{{ i.created|date:"M j Y" }}</span><span class="oai-micro-fs-6 fw-light"> (modified {{ i.modified|date:"M j" }})</span> </h6>
						</div>
						<div class="oai-micro-fs-8 p-0">{{ i.content|safe|truncatewords:24 }}</div>
						<a href="{% url 'post_view' i.pk %}" class="btn btn-link btn-sm stretched-link"></a>
					</div>					
				</div>

			</div>	
			{% endfor %}
		</div>
	</div>

	<div class="col-md-3">{% include 'base-side-menu.html' %}</div>
</div>		
{% endblock content %}
