<!-- previous_issues.html -->
{% extends 'base.html' %}

{% block page_title %}Previous Issues{% endblock page_title %}

{% block page_header %}
	<h2>Previous Issues <a href="{% url 'special_issues' %}" class="btn btn-sm btn-link rounded-0 static_a_display">Special Issue Archive</a></h2>
{% endblock page_header %}

{% block content %}
<div class="row">
	<div class="col-md-9">
		{% for volume, issues in issues.items %}
				<div class="row">
					<h4>{{issues.0.object.get_collection_date.year}}</h4>
					{% for issue in issues %}
					<div class="col-md-4"  style="padding: 2em;">
						{% include 'base-book-cover.html' %}
					</div>
					{% endfor %}
				</div>
		{% endfor %}
	</div>
	<div class="col-md-3">{% include 'base-side-menu.html' %}</div>
</div>		
{% endblock content %}
