<!-- record_view.html -->
{% extends 'base.html' %}

{% block local_meta %} 
<meta property="og:title" content="{{ object }}" />
<meta property="og:image" content="https://nflrc.hawaii.edu/static/nflrc-oai-pub-llt/img/logo-hdr.png" />
<meta property="og:url"   content="{{ object.get_absolute_url }}" />
<meta property="og:type"  content="article" />
<meta property="og:description" content="{{ item_data.abstract.0|truncatewords:24 }}" />
{% endblock local_meta %}

{% block page_header %}
<h4><i class="fa fa-caret-left"></i> <a href="{% url 'collection' object.hdr_setSpec.pk %}" class="static_a_display">{{ object.hdr_setSpec }}</a></h4>
{% endblock page_header %}

{% block content %}
<div class="row">
	<div class="col-md-3">
		<h3><span class="badge bg-llt-darkgray text-secondary fs-6">{{item_data.type.0}}</span> {{ object }}</h3>
		<div class="fb-share-button" data-href="{{ object.get_absolute_url }}" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

		<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet"
  data-size="large"
  data-text="custom share text"
  data-url="https://dev.twitter.com/web/tweet-button"
  data-hashtags="example,demo"
  data-via="twitterdev"
  data-related="twitterapi,twitter">
<i class="fab fa-twitter"></i>
</a>
	
		<dl>
			<dt class="metadata">Author{{ item_data.author|pluralize }}</dt><dd>{% for i in item_data.author %}{{ i }}{% if not forloop.last %}; {% endif %}{% endfor %}</dt></dd>
			<dt class="metadata">Volume</dt><dd>{{ object.hdr_setSpec }}</dd>
			<dt class="metadata">Date Issued</dt><dd>{% for i in item_data.issued %}{{ i }}{% if not forloop.last %}; {% endif %}{% endfor %}</dd>
			<dt class="metadata">Keywords</dt><dd>{% for i in item_data.subject %}{{ i }}{% if not forloop.last %}; {% endif %}{% endfor %}</dt></dd>
			<dt class="metadata">Publisher</dt><dd>{% for i in item_data.publisher %}{{ i }}{% if not forloop.last %}; {% endif %}{% endfor %}</dd>
			{% if item_data.doi %}<dt class="metadata">DOI</dt><dd>{{ item_data.doi.0 }}</dd>{% endif %}
			<dt class="metadata">URI/DOI</dt><dd>{{ item_data.uri.0|slice:'22:' }}</dd>
			<dt class="metadata">PDF</dt>
			{% for b, f in bitstreams %}
			<dd><a href="{{ b }}">{{ f }}</a></dd>
			{% endfor %}
			<dt class="metadata">Citation</dt><dd>{{ item_data.citation.0 }}</dd>
			<dt class="metadata">Record Details</dt><dd><a href="{% url 'item_full' object.pk %}">Full Record</a></dd>
		</dl>		
	</div>
	<div class="col-md-9">
		<iframe width="100%" height="1200px" src="{{ bitstreams.0.0 }}" style="background-color: #fff"></iframe>	
	</div>
</div>		
{% endblock content %}
