<!-- record_view.html -->
{% extends 'base.html' %}

{% block local_meta %} 
<meta property="og:title" content="{{ object }}" />
<meta property="og:image" content="https://nflrc.hawaii.edu/static/nflrc-oai-pub-llt/img/logo-hdr.png" />
<meta property="og:url"   content="{{ object.get_absolute_url }}" />
<meta property="og:type"  content="article" />
<meta property="og:description" content="{{ item_data.abstract.0|truncatewords:24 }}" />
{% endblock local_meta %}

{% block page_title %}{{ object }}{% endblock page_title %}

{% block page_header %}
<h4><i class="fa fa-caret-left"></i> <a href="{% url 'collection' object.hdr_setSpec.pk %}" class="static_a_display">{{ object.hdr_setSpec }}</a></h4>
{% endblock page_header %}

{% block content %}
<div class="row">
	<div class="col-md-6 order-md-last">
		<div class="text-center pb-2">{% for b, f in bitstreams %} <a href="{{ b }}" target="_blank" class="btn bg-llt-darkgray text-secondary btn-sm fw-bold rounded-0">View or download pdf <i class="fas fa-external-link-alt"></i></a> {% endfor %}</div>
		{% if item_data.abstract %}<div class="p-2"><dt class="metadata">Abstract</dt><dd>{{item_data.abstract.0}}</dd></div>{% endif %}
		<iframe width="100%" height="1200px" src="{{ bitstreams.0.0 }}" style="background-color: #fff"></iframe>
	</div>

	<div class="col-md-6">
		<h2 class="fs-6 fw-bold"><span class="badge bg-llt-darkgray text-secondary rounded-0 oai-micro-fs-6 mt-2 mb-2">{{item_data.type.0}}</span><br> {{ object }}</h2>

		<!-- Social media buttons -->
		<div>
			<div class="fb-share-button" data-href="{{ object.get_absolute_url }}" data-layout="button" data-size=""><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
			
			<a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri|urlencode:'' }}" class="" data-show-count="false"><span class="badge bg-secondary fw-normal" style="font-family: Helvetica, Arial;"><i class="fab fa-twitter"></i> Tweet</span></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			
			<script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
			<script type="IN/Share" data-url="{{ request.build_absolute_uri }}"></script>
			
		</div>

	
		<dl class="oai-micro-fs-8">
			<dt class="metadata">Author{{ item_data.author|pluralize }}</dt><dd>{% for i in item_data.author %}{{ i }}{% if not forloop.last %}; {% endif %}{% endfor %}</dt></dd>
			<dt class="metadata">Volume</dt><dd>{{ object.hdr_setSpec }}</dd>
			<dt class="metadata">Date Issued</dt><dd>{% for i in item_data.issued %}{{ i }}{% if not forloop.last %}; {% endif %}{% endfor %}</dd>
			<dt class="metadata">Keywords</dt><dd>{% for i in item_data.subject %}{{ i }}{% if not forloop.last %}; {% endif %}{% endfor %}</dt></dd>
			<dt class="metadata">Publisher</dt><dd>{% for i in item_data.publisher %}{{ i }}{% if not forloop.last %}; {% endif %}{% endfor %}</dd>
			{% if item_data.doi %}<dt class="metadata">DOI</dt><dd>{{ item_data.doi.0 }}</dd>{% endif %}
			<dt class="metadata">URI/DOI</dt><dd>{{ item_data.uri.0|slice:'22:' }}</dd>
			<dt class="metadata">PDF</dt>
			{% for b, f in bitstreams %}
			<dd><a href="{{ b }}">{{ f }}</a></dd>
			{% endfor %}
			<dt class="metadata">Citation</dt><dd>{{ item_data.citation.0 }}</dd>
			<dt class="metadata">Record Details</dt><dd><a href="{% url 'item_full' object.pk %}">Full Record</a></dd>
		</dl>		
	</div>

</div>		
{% endblock content %}
