html {
  scroll-padding-top: 170px; /*adjust for placement of inline link targets*/
}
body {
  background: #fff !important;
  padding-bottom: 180px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.static_a_display:link {color: #666; text-decoration: none;}
.static_a_display:visited {color: #666; text-decoration: none;}
.static_a_display:hover {color: #000; text-decoration: none; background-color: #e8eaed;}
.static_a_display:active {color: #666; text-decoration: none;}

.border-space {
  border-bottom: solid 1px #dee2e6;
}

dt.metadata {
  border-bottom: solid 1px #ccc;
  padding-top: 8px;
}

.table-borderless td,
.table-borderless th {
    border: none !important;
}

/******************************** Colors *******************************************************/

/*.btn-link { color: #0288D1; }*/

.btn-color-flat { background-color: #d49b32; color: #fff; }

.bg-llt-darkgray {background-color: #dee2e6;}
.bg-llt-gray { background: #eeeeee; color: #666;}
.bg-llt-white { background: #fff; color: #666;}

.bg-llt-burgundy { background: #7d0000; color: #fff; }
.llt-burgundy {color: #7d0000; border-color: #7d0000;}

.bg-llt-gold { background: #DCAA3B; color: #7d0000; }
.llt-gold {color: #DCAA3B; border-color: #DCAA3B;}

.llt-light-gold {color: #E9CC81}
.bg-llt-light-gold {background: #E9CC81}

.lt-gray {color: #FBFBFB;}
.bg-lt-gray {background-color: #FBFBFB;}

.llt-darkgray {color: #dee2e6;}

.bk-cover-bg-0 {background-color: #6c757d;} /* slate gray 607D8B*/

.bk-cover-bg-1 {background-color: #7d0000;} /* llt burgundy */

.bk-cover-bg-2 {background-color: #DCAA3B;} /* llt gold */

/******************************** End Colors **********************************************/


/******************************** Centered Submenu **********************************************/
.submenu ul{
    margin-bottom:30px;
    width: 100%;
    text-align:center;
}

.submenu li {
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 15px;
    background: #fff 
}
/******************************** End Centered Submenu **********************************************/

/******************************** Custom Font Sizes **********************************************/
.oai-micro-fs-4 {font-size: 0.4em}
.oai-micro-fs-6 {font-size: 0.6em}
.oai-micro-fs-8 {font-size: 0.8em}


/******************************** End Font Sizes **********************************************/


.list-group-item.hilite_row {
  background-color: #B2D1B2
}
/******************************** End Box Borders **********************************************/
