<!-- search.html -->
{% extends 'base.html' %}
{% load highlight %}
{% load more_like_this %}

{% block page_title %}Search{% endblock page_title %}

{% block page_header %}
<h2 id="top" class="text-center">Search</h2>
{% endblock page_header %}

{% block content %}    
    <div class="col-md-10 offset-1">
        <form method="get" action="{% url 'haystack_search' %}" class="form-inline" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." name="q" value="{{query}}">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-md" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>            
        </form>
    </div>

    <div class="col-md-10 offset-1" style="padding-top: 10px">
        <ul class="nav nav-pills">
            <li><a href="#keylist" class="btn btn-xs btn-default static_a_display filter-btn" data-bs-toggle="collapse"> <i class="fa fa-caret-down"></i> <strong>Browse by keyword?</strong></a></li>
            <li><a href="#authorlist" class="btn btn-xs btn-default static_a_display filter-btn" data-bs-toggle="collapse"> <i class="fa fa-caret-down"></i> <strong>Browse by author?</strong></a></li>
        </ul>        
        
        <!--keyword listing -->
        <p>
            <div id="keylist" class="row collapse filter-terms" style="background-color: #fff">
                {% for i in keytable %}
                    <div class="col-md-3 text-start">
                        <ul class="list-unstyled center-block">
                        {% for j in i %}
                            <li><p><a href="{% url 'haystack_search' %}?q={{j}}" class="static_a_display">{{ j }}</a></p></li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </p>

        <!--author listing -->
        <p>
            <div id="authorlist" class="row collapse" style="background-color: #fff">
                <div class="col-md-12 text-left">
                {% for i in authortable %}                       
                    {% ifchanged i.1|slice:":1"|upper %}
                        <span><a href="#{{ i.1|slice:":1"|upper }}">{{ i.1|slice:":1"|upper }}</a></span>
                    {% endifchanged %}
                {% endfor %}
                </div>

                <div class="col-md-2 text-left">   
                    <ul class="list-unstyled center-block">               
                    {% for i in authortable %}                       
                        {% ifchanged i.1|slice:":1"|upper %}
                            <h3 id="{{ i.1|slice:":1"|upper }}">
                                {{ i.1|slice:":1"|upper }} 
                                {% if not forloop.first %}<a href="#top" class="small"><i class="fa fa-arrow-up"></i> top </a>{% endif %}
                            </h3>
                        {% endifchanged %}
                        <li><p><a href="{% url 'haystack_search' %}?q={{i.1}}" class="static_a_display">{{ i.0 }} {{ i.1 }}</a></p></li>
                    {% endfor %}
                    </ul>
                </div>                
            </div>
        </p>
    </div>

    <div class="col-md-10 offset-1">        
        {% if query %}
            <h3>Showing {{ page_obj.start_index }} - {{ page_obj.end_index }} results of {{ page_obj.paginator.count }} for <span class="badge text-white bg-success rounded-0">{{ query }}</span></h3>
            <p>
                <dl>
                {% for result in object_list %}
                        
                        {% if result.model_name == 'record' %} 
                            <dt><a href="{% url 'item' result.pk %}" class="link-secondary">{{ result.object }}</a></dt>
                            <dd>
                                <div class="oai-micro-fs-8">{% highlight result.object.full_text with query html_tag "span" css_class "text-success "%}</div>
                                <p class="oai-micro-fs-8">{% for i in result.object.get_readable_authors %}{% if forloop.first %}by {% endif %}<a href="{% url 'haystack_search' %}?q={{i}}" title="Search articles for this author.">{{ i }}</a>{% if not forloop.last %}, {% else %} <br>{% endif %} {% endfor %}
                                in <a href="{% url 'collection' result.object.hdr_setSpec.identifier %}" class=""> {{ result.object.hdr_setSpec.name }}</a></p>
                            </dd>                        
                        {% elif result.model_name == 'oaisitepost' %}
                            <dt><a href="{{ result.object.get_absolute_url }}" class="link-secondary">{{ result.object }}</a></dt> 
                            <dd>
                                <div class="oai-micro-fs-8">{% highlight result.object.content with query html_tag "span" css_class "text-success "%}</div>
                                <p class="oai-micro-fs-8">in <a href="{{ result.object.get_absolute_url }}">News & Announcements</a> </p>
                            </dd>
                        {% else %}                           
                            <dt><a href="{% url 'page_slug_view' result.object.slug %}" class="link-secondary">{{ result.object }}</a></dt> 
                            <dd>
                                <div class="oai-micro-fs-8">{% highlight result.object.content with query html_tag "span" css_class "text-success "%}</div>
                                <p class="oai-micro-fs-8">in <a href="{% url 'page_slug_view' result.object.slug %}">{{ result.object.title }}</a> </p>                                
                            </dd>
                        {% endif %}


                {% empty %}
                    <p>No results found.</p>
                {% endfor %}
                </dl>
                <div class="pagination">
                    <span class="">
                        {% if page_obj.has_previous %}
                            <a href="?q={{ query }}&page=1">&laquo; first</a>
                            <a href="?q={{ query }}&page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?q={{ query }}&page={{ page_obj.next_page_number }}">next</a>
                            <a href="?q={{ query }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </p>            
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </div>
{% endblock content %}

{% block js_script %}
<script type="text/javascript">
    jQuery(function($) { 
        $(document).ready(function() {
            $('.filter-terms').on('show.bs.collapse', function () {
                $('.filter-terms').collapse( "hide" );
            });        
        });
    });   
</script>
{% endblock js_script %}