<!-- base-side-menu.html -->
<div class="row">
	<div class="col-md-12">
		<p class="d-grid gap-2"><a href="{% url 'page_slug_view' 'dorothy-chun-award' %}" class="btn btn-sm bg-llt-gold border-0 rounded-0" style="font-size: 1.2em; letter-spacing: 1px; font-weight: bold;"><i class="fa fa-star" aria-hidden="true"></i> Best Paper Award</a></p>       					
		<p class="d-grid gap-2"><a href="{% url 'post_list_view' %}" class="btn btn-sm bg-llt-light-gold llt-burgundy border-0 rounded-0 fw-bold">News & Announcements</a></p>
		<p class="d-grid gap-2"><a href="{% url 'page_slug_view' 'copy-editing' %}" class="btn btn-sm bg-llt-light-gold llt-burgundy border-0 rounded-0 fw-bold">{% if curr_page == 18 %}<i class="fa fa-circle llt-burgundy"></i>{% endif %} Volunteer to Copy Edit</a></p>

		<ul class="list-unstyled">
			<li><a href="{% url 'page_slug_view' 'permissions' %}" class="btn btn-sm btn-link static_a_display border-0 rounded-0 d-grid gap-2 text-start {% if curr_page == 7 %}bg-llt-darkgray{% endif %}"> Permissions</a></li>

			<li><a href="{% url 'page_slug_view' 'research-guidelines' %}" class="btn btn-sm btn-link static_a_display border-0 rounded-0 d-grid gap-2 text-start {% if curr_page == 5 %}bg-llt-darkgray{% endif %}"> Research Guidelines</a></li>

			<li><a href="{% url 'page_slug_view' 'submission-guidelines' %}" class="btn btn-sm btn-link static_a_display border-0 rounded-0 d-grid gap-2 text-start {% if curr_page == 6 %}bg-llt-darkgray{% endif %}"> Submission Guidelines</a></li>				
			
			<li><a href="{% url 'page_slug_view' 'submit-manuscript' %}" class="btn btn-sm btn-link static_a_display border-0 rounded-0 d-grid gap-2 text-start {% if curr_page == 4 %}bg-llt-darkgray{% endif %}"> Submit a Manuscript</a></li>	
		</ul>
		<ul class="list-unstyled">
			<li><a href="{% url 'page_slug_view' 'reports' %}" class="btn btn-sm btn-link static_a_display border-0 rounded-0 d-grid gap-2 text-start {% if curr_page == 8 %}bg-llt-darkgray{% endif %}"> Annual Reports</a></li>	

			<li><a href="{% url 'page_slug_view' 'dissertations' %}" class="btn btn-sm btn-link static_a_display border-0 rounded-0 d-grid gap-2 text-start {% if curr_page == 10 %}bg-llt-darkgray{% endif %}"> CALL Dissertations</a></li>

			<li><a href="{% url 'previous_issues' %}" class="btn btn-sm btn-link static_a_display border-0 rounded-0 d-grid gap-2 text-start {% if curr_page == 'previous_issues' %}bg-llt-darkgray{% endif %}"> Previous Issues</a></li>

			<li><a href="{% url 'special_issues' %}" class="btn btn-sm btn-link static_a_display border-0 rounded-0 d-grid gap-2 text-start {% if curr_page == 'special_issues' %}bg-llt-darkgray{% endif %}"> Special Issues</a></li>		
		</ul>

		<p class="d-grid gap-2"><a href="https://listserv.hawaii.edu/cgi-bin/wa?SUBED1=LLT-L&A=1" class="btn btn-sm bg-llt-darkgray text-secondary border-0 rounded-0" target="_blank">Subscribe</a></p>
		<p class="d-grid gap-2"><a href="{% url 'page_slug_view' 'contribute' %}" class="btn btn-sm bg-llt-darkgray text-secondary border-0 rounded-0">Donate</a></p>
	</div>
</div>