<!-- base-book-cover.html -->
<div class="card rounded-0 bk-cover-bg-{{issue.color_code}} text-white lh-sm shadow-sm " style="height: 320px; max-width: 240px;">
    <div class="card-body">
		<div style="height: 70%" class="mb-3"><strong>{{issue.subtitle}}</strong></div>
    	<div class="oai-micro-fs-6">
            {% if issue.editors %}
        		Edited by <br>
                {% for editor in issue.editors %}
                    {{editor}}<br>
                {% endfor %}
            {% endif %}            
        </div>
    </div>        
    <div class="card-footer border-0 bk-cover-bg-{{issue.color_code}} text-white oai-micro-fs-6">{{issue.title}}<br>{{issue.date}}</div>
    <a href="{% url 'collection' issue.object.pk %}" class="stretched-link"></a>
</div>